@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  background-color: #343964;
}
.loading-section {
  background-color: red;
}

.bg {
  width: 100%;
  background-image: url("./assets//images/bg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* background-color: #343964;
  height: 50vh;
  min-width: 800px;
  
  
 
  position: relative; */
  height: 40vh;
  max-width: 900px;
  margin: auto;
  width: 100%;
  background-color: #343964;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 3rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #8B8EAB;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.count-circle.active {
  background: linear-gradient(to right, #E65895, #BC6BE8);
}

.count-circle {
  background-color: #393F6E;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E2E4F3;
  font-size: 20px;
  font-weight: bold;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.section-count {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.section-questions {
  font-size: 24px;
  font-weight: bold;
  color: #E2E4F3;
  text-align: center;
  padding: 2rem 12rem;

}

.section-answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 1rem 9rem;
}

.answer-card {
  color: #E2E4F3;
  font-size: 20px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  text-align: center;
  padding: 1.5rem 3rem;
  background-color: #393F6E;
  border-radius: 1rem;
  cursor: pointer;
}

.answer-card:hover {
  background: linear-gradient(to right, #E65895, #BC6BE8);
}

/****************************
SCORE section
**********************/
.score-section {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: auto;
  width: 100%;
  background-color: #343964;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 2rem 0rem;
}
.congrats-img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.congrats-title{
  color: #E2E4F3;
  padding: 1rem 0;
 font-size: 20px;
 font-weight: bold;
}
.congrats-score {
 color: #E2E4F3;
 padding: 1rem 0;
 font-size: 16px;
 font-weight: bold;
}
.btn-play-again {
  margin-top: 2rem;
  cursor: pointer;
  padding: 1.5rem 5rem;
  border-radius: 1rem;
  font-size: 20px;
  font-weight: bold;
  border:none;
  color: #E2E4F3;
  background: linear-gradient(to right, #E65895, #BC6BE8);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

@media only screen and (max-width: 640px) {

  /* For mobile phones: */
  .container {
    /* background-color: #343964;
    height: 50vh;
    min-width: 800px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    position: relative; */
    max-width: 500px;



  }

  .section-answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }

  .count-circle {
    background-color: #393F6E;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    padding: 1rem;
    margin: .5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E2E4F3;
    font-size: 16px;
    font-weight: bold;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    cursor: pointer;
  }

  .section-count {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: .3rem;
    align-self: center;
    text-align: center;
    justify-content: center;
  }

  .section-questions {
    font-size: 18px;
    font-weight: bold;
    color: #E2E4F3;
    text-align: center;
    padding: 2rem 0rem;

  }

  .answer-card {
    color: #E2E4F3;
    font-size: 16px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    text-align: center;
    padding: 1rem 3rem;
    background-color: #393F6E;
    border-radius: 1rem;
    cursor: pointer;
  }
}